**Web Scraping und Data Mining in Python**

# Pandas Text und Data Munging

Jan Riebling, *University Wuppertal*

# Python I/O

## `file`-Objekte

Funktioniert wie `urlopen` aber spezifisch für Zugriffe auf das eigene Dateisystem.

Die Funktion `open(path, mode)` erlaubt Dateizugriff auf drei verschiedene Arten (`mode`):

* `r`: Lesezugriff.
* `w`: Schreibzugriff.
* `a`: Ans Ende der Datei anhängen.

In [1]:
text = 'Das ist ein Satz.\nDies hier auch.'

f = open('../fileIO.txt', 'w')

f.write(text)

f.close()

In [2]:
with open('fileIO.txt', 'r') as f:
    print(f.read())

Das ist ein Satz.
Dies hier auch.

## oder so...

In [ ]:
%cat ../fileIO.txt

In [10]:
%pwd

'/home/jrriebling/git/WebScrapingWorkshop/Skripte'

In [9]:
text = !cat ../fileIO.txt

Liste = !dir /help

Liste

['01.Das\\ Medium\\ Data\\ Problem.ipynb',
 '02.Anaconda\\ Distribution.ipynb',
 '03.Jupyters\\ Infrastruktur.ipynb',
 '04.Wissenschaftliches\\ Schreiben.ipynb',
 '05.Primitive\\ Datentypen.ipynb',
 '06.Sequenzen\\ und\\ Container.ipynb',
 '07.Schleifen\\ und\\ logische\\ Bedingungen.ipynb',
 '08.Funktionen\\ und\\ Klassen.ipynb',
 '09.DataFrames\\ und\\ Serien.ipynb']

# Pandas I/O

## Allgemein

Pandas verfügt über eine Vielzahl von I/O Funktionen, die [hier](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) ausführlich beschrieben werden.

Allgemeines Schema:
    
* Einlesen: `pd.read_` + Name des Formats.
* Speichern: Datenobjekt + `.to_` + Name des Formats.

## `read_html`

Pandas bietet auch eine Funktion zum Einlesen und parsen von HTML an. Diese ist in der Lage HTML-Tabellen (`<table>`) zu lesen und gibt eine Liste von DataFrames zurück.

In [ ]:
import pandas as pd

dfs = pd.read_html('https://de.wikipedia.org/wiki/Land_(Deutschland)', 
                   header=0,
                   decimal=',',
                   thousands='.')

df = dfs[0]

In [14]:
dfs[0]

,Wappen,Land,Abk.,Haupt­stadt,bevöl­kerungs-reichste Stadta,Beitrittzum Bund,Regierungs-chef,Regierungs-partei(en),Bundes­rats-stimmen,Fläche(km²)[12],Ein-wohner(Mio.)[12],Ein-wohnerje km²[12],Aus­länder(%)[13],Sprachen
0,NaN,Baden-Württemberg,BW,Stuttgart,Stuttgart,1949[14],Winfried Kretschmann (Grüne),Grüne und CDU,6,35748,11.070,310,15.5,Deutsch
1,NaN,Bayern,BY,München,München,1949,Markus Söder (CSU),CSU und Freie Wähler,6,70542,13.077,185,13.2,Deutsch
2,NaN,Berlin,BE,—,—,1990[15],Franziska Giffey (SPD),"SPD, Linke und Grüne",4,891,3.645,4090,18.5,Deutsch
3,NaN,Brandenburg,BB,Potsdam,Potsdam,1990,Dietmar Woidke (SPD),"SPD, CDU und Grüne",4,29654,2.512,85,4.7,"Deutsch, Niedersorbisch, Niederdeutsch"
4,NaN,Bremen,HB,Bremen(de facto),Bremen,1949,Andreas Bovenschulte (SPD),"SPD, Grüne und Linke",3,419,0.683,1629,18.1,"Deutsch, Niederdeutsch"
5,NaN,Hamburg,HH,—,—,1949,Peter Tschentscher (SPD),SPD und Grüne,3,755,1.841,2438,16.4,"Deutsch, Niederdeutsch"
6,NaN,Hessen,HE,Wiesbaden,Frankfurt am Main,1949,Volker Bouffier (CDU),CDU und Grüne,5,21116,6.266,297,16.2,Deutsch
7,NaN,Mecklenburg-Vorpommern,MV,Schwerin,Rostock,1990,Manuela Schwesig (SPD),SPD und Linke,3,23295,1.610,69,4.5,"Deutsch, Niederdeutsch"
8,NaN,Niedersachsen,NI,Hannover,Hannover,1949,Stephan Weil (SPD),SPD und CDU,6,47710,7.982,167,9.4,"Deutsch, Saterfriesisch, Niederdeutsch"
9,NaN,Nordrhein-Westfalen,NW,Düsseldorf,Köln,1949,Hendrik Wüst (CDU),CDU und FDP,6,34112,17.933,526,13.3,"Deutsch, Niederdeutsch"
10,NaN,Rheinland-Pfalz,RP,Mainz,Mainz,1949,Malu Dreyer (SPD),"SPD, Grüne und FDP",4,19858,4.085,206,11.1,Deutsch
11,NaN,Saarland,SL,Saarbrücken,Saarbrücken,1957,Tobias Hans (CDU),CDU und SPD,3,2571,0.991,385,11.1,Deutsch
12,NaN,Sachsen,SN,Dresden,Leipzig,1990,Michael Kretschmer (CDU),"CDU, Grüne und SPD",4,18450,4.078,221,4.9,"Deutsch, Obersorbisch"
13,NaN,Sachsen-Anhalt,ST,Magdeburg,Halle (Saale),1990,Reiner Haseloff (CDU),"CDU, SPD und FDP",4,20454,2.208,108,4.9,"Deutsch, Niederdeutsch"
14,NaN,Schleswig-Holstein,SH,Kiel,Kiel,1949,Daniel Günther (CDU),"CDU, Grüne und FDP",4,15804,2.897,183,8.0,"Deutsch, Dänisch, Nordfriesisch, Plattdeutsch ..."
15,NaN,Thüringen,TH,Erfurt,Erfurt,1990,Bodo Ramelow (Linke),"Linke, SPD und Grüne",4,16202,2.143,132,4.9,Deutsch
16,NaN,Bundes­republik Deutschland,DE,Berlin,Berlin,—,Olaf Scholz (SPD),"SPD, Grüne und FDP",b –,357582,83.019,232,12.2,Deutsch (Amtssprache) und die anerkannten Mind...

# Beautiful Soup RegEx

## Syntax

Beautiful Soup erlaubt ebenfalls reguläre Ausdrücke beim Durchsuchen des Baumgraphens. Diese müssen vorher mit `re.compile` kompiliert werden.

In [17]:
import re
from bs4 import BeautifulSoup
from urllib.request import urlopen

def soupify(url, features='html5lib'):
    """Takes a URL, requests it and parses it through BeautifulSoup."""
    with urlopen(url) as response:
        html = response.read()
    soup = BeautifulSoup(html, features=features)
    return soup

In [ ]:
## Beispiel

soup = soupify('https://www.spiegel.de/nachrichtenarchiv/artikel-01.01.2021.html')

In [28]:
articles = soup.find_all('article')

pattern = re.compile(r'^m-splus-.+')

[article.a['href'] for article in articles if not article.find(id=pattern)]

['https://www.spiegel.de/politik/deutschland/landtagswahlen-2021-in-thueringen-sachsen-anhalt-mecklenburg-vorpommern-instabile-verhaeltnisse-a-9fb3f53c-6ca6-472a-bcd0-3a040ba2786b',
 'https://www.spiegel.de/sport/darts-wm-2021-in-london-michael-van-gerwen-chancenlos-gegen-dave-chisnall-a-c0a1d985-d5e0-40ed-9e65-bae12b51d879',
 'https://www.spiegel.de/panorama/justiz/bosnien-herzegowina-acht-menschen-sterben-bei-silvesterparty-offenbar-an-gasvergiftung-a-c1fd420b-2371-4107-8e6d-51ecd260ca4a',
 'https://www.spiegel.de/ausland/belarussen-im-exil-die-sicherheitsleute-pruegelten-die-meisten-halb-tot-a-df0c3f86-d49b-46d2-9970-b32afb7b136d',
 'https://www.spiegel.de/panorama/justiz/frankreich-mann-auf-silvesterparty-erschossen-a-f258571a-4b21-4088-a9c1-6d300b2b428d',
 'https://www.spiegel.de/panorama/dortmund-experten-suchen-nach-schlange-in-mehrfamilienhaus-a-e35fb632-e859-4a8f-b323-1280d4317c00',
 'https://www.spiegel.de/ausland/gesetzespaket-zu-verteidigungshaushalt-us-kongress-ueberstimmt-erstmals-veto-trumps-a-e4f24206-ef70-44eb-9a0c-3f82b0aa69f0',
 'https://www.spiegel.de/panorama/bogota-avianca-airbus-kollidiert-offenbar-mit-silvester-ballon-a-ae231cfa-baf0-4d14-a92b-4c2b65eeb459',
 'https://www.spiegel.de/ausland/banco-financiero-international-usa-verhaengen-neue-sanktionen-gegen-kuba-a-2c3e3c53-8f4f-48ae-a4bb-7c01c57bc926',
 'https://www.spiegel.de/panorama/silvester-2020-2021-wie-die-welt-nicht-den-jahreswechsel-feierte-a-260c6614-a85e-4a7d-8733-b9af8ffd5682',
 'https://www.spiegel.de/sport/wintersport/vierschanzentournee-polens-gloria-dawid-kubacki-gewinnt-neujahrsspringen-a-abd05a88-e8f5-4396-99cc-ed2810884b4f',
 'https://www.spiegel.de/wissenschaft/weltall/satelliten-aus-holz-ist-projekt-aus-japan-schnapsidee-oder-innovation-a-fac2d435-48b9-4621-8742-1db608844607',
 'https://www.spiegel.de/sport/darts-wm-gary-anderson-schlaegt-den-weltmeister-schreck-a-1a0cbd28-2693-4d35-b2fa-af9147f543de',
 'https://www.spiegel.de/stil/smart-gadgets-was-schickes-design-bringen-soll-wollen-wir-freunde-sein-a-abacb4a2-a9e4-4ae1-aa77-bd9a720b057e',
 'https://www.spiegel.de/panorama/umwelthilfe-fordert-vollstaendiges-boellerverbot-a-642389d5-f489-4c11-99ac-e987c3343253',
 'https://www.spiegel.de/ausland/grossbritannien-nach-dem-brexit-wunsch-und-wirklichkeit-a-2dbc1c7e-045d-41f8-ae84-a10b26348b22',
 'https://www.spiegel.de/wirtschaft/soziales/2021-acht-katastrophen-die-ausbleiben-kolumne-a-2f9d769d-a2a6-4520-8941-9136288b568e',
 'https://www.spiegel.de/wissenschaft/mensch/corona-andere-pandemien-bedrohen-die-menschen-who-warnt-a-8c899749-bf9e-4d85-a194-e31b9454b909',
 'https://www.spiegel.de/gesundheit/diagnose/wie-gut-kennen-sie-ihre-leber-a-134291d6-a6ff-4de3-b338-67340fcfd53f',
 'https://www.spiegel.de/netzwelt/gadgets/das-usb-namenschaos-geht-weiter-a-b56369e8-d70f-4f66-9d61-df08e317fdde',
 'https://www.spiegel.de/sport/wintersport/vierschanzentournee-dawid-kubacki-springt-mit-schanzenrekord-zum-sieg-beim-neujahrsspringen-a-cde8f504-276a-4014-a658-55280359f5ea',
 'https://www.spiegel.de/ausland/fluechtlingsdrama-in-bosnien-armee-errichtet-zelte-im-abgebrannten-lager-lipa-a-f53def53-5eac-4f39-9024-e0afe07d101f',
 'https://www.spiegel.de/panorama/justiz/leipzig-bundeswehrfahrzeuge-abgebrannt-polizei-vermutet-brandstiftung-a-cf8dfc84-e71f-457c-bb41-49788b8be38d',
 'https://www.spiegel.de/wirtschaft/krankenkassen-chef-der-techniker-rechtet-mit-deutlich-steigenden-beitraegen-a-57f57a59-484c-473e-9633-5c74adb5dfed',
 'https://www.spiegel.de/ausland/twitternder-us-praesident-trump-gegen-alle-a-569b00d2-e52d-4109-b6a2-368137fcfbb0',
 'https://www.spiegel.de/ausland/persischer-golf-mine-an-irakischem-oeltanker-entdeckt-a-026ba90a-817a-4725-97e6-0808ff8ffbe0',
 'https://www.spiegel.de/panorama/justiz/corona-impfungen-es-geht-nicht-um-privilegien-a-ecd68437-5b88-4094-bdbc-be2f26e833d4',
 'https://www.spiegel.de/kultur/tatort-heute-aus-weimar-der-feine-geist-im-schnellcheck-a-6dc72d22-9f07-48b4-8625-0a5c6839372c',
 'https://www.spiegel.de/wirtschaft/jahr-der-ernuechterung-diw-chef-rechnet-nicht-mehr-mit-schneller-erholung-der-wirtschaft-a-fac81e43-0a88-46be-a72c-2e52f75bbe4e',
 'https://www.spiegel.de/wirtschaft/soziales/grossbritannien-london-schafft-tampon-steuer-ab-a-bff34b50-ea98-4ce1-8de3-f307bc7e630e',
 'https://www.spiegel.de/wirtschaft/unternehmen/daenemark-beginnt-mit-bauarbeiten-fuer-fehmarnbelt-tunnel-a-d28f6c8e-6dea-4531-aa6c-a48954f1bd40',
 'https://www.spiegel.de/wirtschaft/erntehelfer-bauern-rechnen-auch-2021-mit-zehntausenden-ausfaellen-a-82f125a2-8fac-453c-8840-d0a51a8bb843',
 'https://www.spiegel.de/wissenschaft/perseverance-tianwen-james-webb-teleskop-die-astro-vorschau-2021-a-48950ed7-a905-4e13-9d87-7b1cf6003dc2',
 'https://www.spiegel.de/politik/rechtsextremismus-wehbeauftragte-sieht-verbesserungen-bei-der-bundeswehr-a-b0fdfc0e-4daa-4150-bc44-0c41fbfec995',
 'https://www.spiegel.de/ausland/nach-dem-brexit-keine-staus-am-eurotunnel-a-5835b34f-6f35-4dbe-85b0-02f3e559f206',
 'https://www.spiegel.de/politik/haushaltsveto-trump-letzter-schlag-gegen-die-uno-laeuft-ins-leere-a-3958691a-b779-42f1-ab53-860ecdb24db4',
 'https://www.spiegel.de/ausland/eu-ratsvorsitz-uno-sicherheitsrat-osze-vorsitz-wer-uebernimmt-im-jahr-2021-a-29be1933-e379-4c45-a58d-de05f40408ad',
 'https://www.spiegel.de/politik/deutschland/politiker-nachwuchs-von-diesen-politikerinnen-unter-30-werden-sie-2021-noch-hoeren-a-5d9f80a8-b955-42b1-b4cd-9e84b38d8d50',
 'https://www.spiegel.de/netzwelt/netzpolitik/personalausweis-csu-im-bundestag-fordert-smartphone-perso-a-940371a3-d87f-4180-a1b6-c9944d41ded8',
 'https://www.spiegel.de/panorama/corona-silvester-die-welt-startet-verhalten-ins-neue-jahr-a-a73dfe20-c560-4bbf-bb32-a3839e31d368',
 'https://www.spiegel.de/wirtschaft/neu-in-2021-das-aendert-sich-ab-heute-a-21a74275-0e3b-4a3d-91dd-242668a00b58',
 'https://www.spiegel.de/ausland/brexit-feier-in-london-der-stille-abschied-von-europa-a-a035442b-c098-46f8-8fa4-d966f4efd11c',
 'https://www.spiegel.de/panorama/corona-in-den-usa-apotheker-soll-vorsaetzlich-hunderte-impfdosen-sabotiert-haben-a-b755061c-a458-4e8a-b8c6-6c9e4db9731e',
 'https://www.spiegel.de/panorama/silvester-in-deutschland-ein-toter-und-schwerverletzte-bei-unfaellen-mit-boellern-a-59ebd93a-58f2-4ce4-bc63-46df0f70900d',
 'https://www.spiegel.de/wissenschaft/corona-news-update-am-freitag-rki-meldet-22-924-neuinfektionen-und-553-neue-todesfaelle-a-fa5f2e43-1265-4229-a704-b83d3d9465b5',
 'https://www.spiegel.de/ausland/senats-stichwahl-in-georgia-republikanischer-kandidat-muss-in-quarantaene-a-b205b3a8-4404-4cea-a985-315d0111db7d',
 'https://www.spiegel.de/panorama/gesellschaft/silvester-feuerwerk-in-sydney-ohne-zuschauer-a-d9def405-3c1d-49c4-913a-c743ffd9691d']

# Pandas RegEx

## Text in pd.Series

* Pandas bietet eine die Möglichkeit Pythons String- und RgEx-Methoden über `Series`-objekte zu vektorisieren.
* [Übersicht](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html) des generellen Vorgehens.
* [Auflistung](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#method-summary) der zur Verfügung stehenden Methoden. 
* Methoden an `.str` Attribut der Serie gebunden.

## Data munging / wrangling

Transformation von Rohdaten in ein statistisch/numerisch bearbeitbares Format sowie die dazugehörige Fehlerkorrektur.

In [43]:
## Making all the parties into seperate data points:
regp_df = df['Regierungs-partei(en)'].str.split(r',| und ', expand=True)

df['Regierungs-partei(en)'].str.replace(r' und ', ', ').str.get_dummies(', ')

    CDU  CSU  FDP  Freie Wähler  Grüne  Linke  SPD
0     1    0    0             0      1      0    0
1     0    1    0             1      0      0    0
2     0    0    0             0      1      1    1
3     1    0    0             0      1      0    1
4     0    0    0             0      1      1    1
5     0    0    0             0      1      0    1
6     1    0    0             0      1      0    0
7     0    0    0             0      0      1    1
8     1    0    0             0      0      0    1
9     1    0    1             0      0      0    0
10    0    0    1             0      1      0    1
11    1    0    0             0      0      0    1
12    1    0    0             0      1      0    1
13    1    0    1             0      0      0    1
14    1    0    1             0      1      0    0
15    0    0    0             0      1      1    1
16    0    0    1             0      1      0    1

In [48]:
parties = df['Regierungs-partei(en)']

#parties = parties.str.replace(' und', ',')
#parties.str.split(', ', expand=True)

parties.str.split(r', | und ', expand=True)

            0      1      2
0       Grüne    CDU   None
1         CSU   None   None
2         SPD  Linke  Grüne
3         SPD  Linke   None
4         SPD  Grüne   None
5         SPD  Grüne   None
6         CDU  Grüne   None
7         SPD    CDU   None
8         SPD    CDU   None
9         CDU    FDP   None
10        SPD    FDP  Grüne
11        CDU    SPD   None
12        CDU    SPD   None
13        CDU    SPD  Grüne
14        CDU    FDP  Grüne
15  Die Linke    SPD  Grüne
16    CDU/CSU    SPD   None

In [51]:
## Exercise: Count parties in federal government

regp_df.stack().str.strip().value_counts()

SPD             12
Grüne           11
CDU              9
FDP              5
Linke            4
CSU              1
Freie Wähler     1
dtype: int64

# RegEx text mining example

## WoS data

Sample of Web of Science SSCI data on scientific publications.

In [52]:
wos_df = pd.read_csv('../Daten/SocWOSSample.csv', index_col=0)

wos_df

,index,Authors,Year of Publication,Title,Author Keywords,KeyWords Plus,Abstracts,ISO-4 Journal Abbreviation
0,96,"FAULCONBRIDGE, J; MUZIO, D",2008,Organizational professionalism in globalizing ...,globalization; legal profession; organizationa...,MANAGEMENT; DYNAMICS; LONDON,"Are the challenges of globalization, technolog...",Work Employ. Soc.
1,4342,"WU, XG; XIE, Y",2003,Does the market pay off? Earnings returns to e...,NaN,REFORMING STATE SOCIALISM; INCOME INEQUALITY; ...,Previous work on the market transition in refo...,Am. Sociol. Rev.
2,5096,"PODOLNY, JM; STUART, TE; HANNAN, MT",1996,"Networks, knowledge, and niches: Competition i...",NaN,DYNAMICS; ECOLOGY; ORGANIZATIONS; POPULATIONS;...,The authors develop a conception of an organiz...,Am. J. Sociol.
3,3857,"WIMMER, A",2008,The making and unmaking of ethnic boundaries: ...,NaN,UNITED-STATES; NATION-STATE; IDENTITY; RACE; M...,Primordialist and constructivist authors have ...,Am. J. Sociol.
4,1559,"VANDERSTRAETEN, R",2000,Autopoiesis and socialization: on Luhmann's re...,Niklas Luhmann; autopoiesis; social systems; c...,SOCIAL-SYSTEMS,"In 1984, Niklas Luhmann published Soziale Syst...",Br. J. Sociol.
...,...,...,...,...,...,...,...,...
95,586,"ALBERTH, L; BODE, I; BUHLER-NIEDERBERGER, D",2010,Contingency problems of social interventions. ...,Social intervention; Risk of harm to children;...,NaN,Welfare state moderated social interventions i...,Berliner J. Soz.
96,2614,"PILGRIM, D; ROGERS, A",1994,"TREND REPORT SOMETHING OLD, SOMETHING NEW - SO...",PSYCHIATRY; SOCIOLOGY; SOCIAL CAUSATION; STRUC...,PSYCHOTHERAPY; WOMEN; LIFE,Whilst sociology has taken a consistent intere...,Sociol.-J. Brit. Sociol. Assoc.
97,126,"LUTZ, S; EBERLE, D",2008,Mechanisms of Institutional Change in German C...,Institutional change; Varieties of capitalism;...,1990S,In the debate on the convergence of Rhenish ca...,Berliner J. Soz.
98,4554,"AVERY, RB; RENDALL, MS",2002,Lifetime inheritances of three generations of ...,NaN,WEALTH INEQUALITY; UNITED-STATES; INTERGENERAT...,This article estimates lifetime inheritances b...,Am. J. Sociol.
99,1687,"MERKEL, W",2000,The third ways of social democracy into the 21...,NaN,NaN,At the end of the twentieth century the politi...,Berliner J. Soz.

## Tex mining

Extracting information from plain text data. In this exercise we will try to extract data from the cited references field (`CR`) an create a data set of citations containing:

* Author,
* Year and
* Publication where applicable.

In [63]:
## Exercise:
#references = wos_df.CR.str.split('; ?', expand=True).stack()

#references

## Tests
#splits = wos_df.CR.str.split('; ?')
#splits[splits.apply(len) < 15].values

#references.str.extract(r'(?P<Author>.+?), ?(?P<Year>[0-9]{4})?')

#wos_df.CR.str.extractall(r'[;^] ?(?P<Author>.+?), ?(?P<Year>[0-9]{4})?')

#wos_df.CR.str.extractall(r'DOI ?(?P<DOI>.+?)[;$]')

wos_df.Authors.str.extractall(r'(?P<Author>\w+[\w\-]+),')

                 Author
   match
0  0      FAULCONBRIDGE
   1              MUZIO
1  0                 WU
   1                XIE
2  0            PODOLNY
...                 ...
97 0               LUTZ
   1             EBERLE
98 0              AVERY
   1            RENDALL
99 0             MERKEL

[163 rows x 1 columns]

## Fortgeschrittenes Beispiel

In [76]:
with open('../Daten/Fox_News_Network_MSNBC KW1.txt', 'r') as f:
    rawtext = f.read()

print(rawtext[:1000])

﻿



Ausgabeauftrag: Alle Dokumente: 1-72
Zeit des Auftrags: Dienstag,  5. Dezember 2017, 14:32:06 Uhr

Gesendet von:

ULB BONN
ADENAUER ALLEE 39-41
BONN, DEU 53113


Begriffe: "Schlagwörter"


Quelle: Fox News Network;MSNBC
Projektkennung:



Dokument 1 von 72


Fox News Network

January 8, 2017 Sunday

SHOW: MEDIA BUZZ 11:00 AM EST

Donald Trump Whipping the Media for Lying About His Stance on CIA, WikiLeaks; Press pushes Back on Trump's Twitter Thoughts; White House Incoming Press Secretary on Whether He Agrees That Journalists are Dishonest; House Republicans Do a 180 on the Congressional Ethics Office; Megyn Kelly Leaves FOX for NBC; WSJ's Gerry Baker says He'd be Careful About Calling Trump or Any Politician a Liar

BYLINE: Howard Kurtz, Charles Lane, Tucker Carlson

GUESTS: Erin McPike, Amy Holmes, Sean Spicer, Joe Concha Gerald Baker

SECTION: NEWS; Domestic

LENGTH: 7808  words

HOWARD KURTZ, FOX NEWS HOST: On our Buzz Media this Sunday, the president- elect whipping the med

In [65]:
## Als pd.Series

text = pd.Series(rawtext)

text

0    ﻿\n\n\n\nAusgabeauftrag: Alle Dokumente: 1-72\...
dtype: object

In [66]:
import re
## Extraktion aller relevanter Dokumente

pattern = r'(Dokument [0-9]+ von [0-9]+\n.+?)(?=Dokument [0-9]+ von [0-9]+\n|$)'

df = text.str.extractall(pattern, re.DOTALL)

## Vorsicht: str.extractall gibt immer einen MultiIndex DataFrame zurück!

df

                                                         0
  match
0 0      Dokument 1 von 72\n\n\nFox News Network\n\nJan...
  1      Dokument 2 von 72\n\n\nFox News Network\n\nJan...
  2      Dokument 3 von 72\n\n\nFox News Network\n\nJan...
  3      Dokument 4 von 72\n\n\nFox News Network\n\nJan...
  4      Dokument 5 von 72\n\n\nMSNBC\n\nJanuary 8, 201...
...                                                    ...
  67     Dokument 68 von 72\n\n\nMSNBC\n\nJanuary 2, 20...
  68     Dokument 69 von 72\n\n\nMSNBC\n\nJanuary 2, 20...
  69     Dokument 70 von 72\n\n\nMSNBC\n\nJanuary 2, 20...
  70     Dokument 71 von 72\n\n\nMSNBC\n\nJanuary 2, 20...
  71     Dokument 72 von 72\n\n\nMSNBC\n\nJanuary 2, 20...

[72 rows x 1 columns]

In [77]:
pattern = r'''Dokument (?P<DlNumbering>.+?)
              \n{3}(?P<Network>.+?)
              \n{2}(?P<AirDate>.+?)
              \n{2}SHOW:(?P<Show>.+?)(?P<AirTime>\ [0-9]+:[0-9]+\ \w{2}\ \w{3})
              .+?LENGTH:.+?
              \n{2,}
              (?P<Highlight>HIGHLIGHT: .+?\n{2})?
              (?:\[.+?\] )?(?P<Transcript>.+?)\n{2}?'''

shows_df = df[0].str.extract(pattern, 
                             re.X | re.S,
                             expand=True)

In [79]:
shows_df.to_csv('../Daten/PunditShows.csv.gz', sep='\t')